.App {
  background-color: lightgray;
}

.App-header {
  background-color:white;
  display: flex;
  color: black;
}
.Logo {
  height: "20px";
}
.Sidebar {
  background-color:white;
  color: black;
}

.Table {
  background-color: white;
  color: black;
  width: "100%";
}

.Table-row {
  margin:"5px";
  text-align: "center";
}
